<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                
                <li>
                    <a href="https://auribises.com/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/auribises/">
                        Blog
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by Auribises 
            
        </div>
    </div>
</footer>
